<!DOCTYPE html>
<html>
<head>
<title>About Page</title>
<style>
p {
    border: 5px solid red;
    padding: 30px
}
</style>
</head>

<body style="background-color:powderblue; font-family:verdana;">
<h1 style="color:blue; text-align:center;">About my Web Page</h1>
<hr>

<h1 style= "text-align:center;"> This page will explain everything about the Web Site </h1>

<%= link_to 'Home Page', root_path %>

</body>
</html>