<!DOCTYPE html>
<html>
<head>
<title>Welcome Page</title>
<style>
p {
    border: 5px solid red;
    padding: 30px
}
</style>
</head>

<body style="background-color:powderblue; font-family:verdana;">
<h1 style="color:blue; text-align:center;">Welcome to Donnie's Web Page</h1>
<hr>

<table style="width:90%">
  <tr>
    <th>Paragraph 1</th>
    <th>Paragraph 2</th>
  </tr>
  <tr>
    <td><p><sub>This <del>is</del></sub> my first web page. <br> I <mark>really</mark/> hope you <sup>enjoy</sup> your visit!!</p></td>
    <td><p>This is the second paragraph</p></td>  
  </tr>
 </table>
 
 <br>

<%= link_to 'About Page', about_path %>

</body>
</html>